.item {
    font-family: var(--second-font);
}

.title {
    color: var(--second-black);
    font-size: 24px;

}

.subtitle {
    color: var(--color-subtitle);
    font-size: 15px;
    font-weight: bold;
}

.enclose {
    color: var(--blue);
    word-break: break-all;
    font-size: 15px;
}

.paragraph {
    color: var(--second-black);
    font-family: var(--second-font);
    white-space: pre-wrap;
}

.date {
    font-size: 20px;
    color: black;
    font-style: oblique;
}

@media screen and (max-width: 767px) {
    .paragraph {
        font-size: 16px !important;
    }
}